@model IEnumerable<Plan1.Models.Permission>

@{
    ViewBag.Title = "SearchIndex";
}

<h2>SearchIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    @using (Html.BeginForm()){   
         <p> Postal Address: @Html.DropDownList("planAddr", "All")
         Applicant: @Html.TextBox("SearchString") 
         <input type="submit" value="Search" /></p>
        } 

<table>
    <tr>
        <th>
            Permission Type
        </th>
        <th>
            Postal Address
        </th>
        <th>
            Applicant Name
        </th>
        <th>
            Application Date
        </th>
        <th>
            Architect's Name
        </th>
        <th>
            Description of Development
        </th>
        <th>
            Owner's Name
        </th>
        <th>
            Address of Retained Building
        </th>
        <th>
            Architect's Address
        </th>
         <th>
            Actions Available
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.permType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postalAddr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.archName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.devDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ownerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.retBldAddr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addrDrawer)
        </td>
        <td>
       
            @Html.ActionLink("Manage Drawings", "Index", "DHBlob", new { id = item.postalAddr.Replace(" ", "").ToLower() }, null) |
             @if (User.IsInRole("administrator"))
        {

<text>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })</text>}
        </td>
    </tr>
        
}

</table>
