@model IEnumerable<PlanningForm.Models.PlanningApplication>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm()) 
{ 
    <p> 
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)   
        <input type="submit" value="Search" /></p> 
}
<table border="5">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Apptype)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.town)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
         @Html.DisplayNameFor(model => model.telephone)
         </th>
         <th>
         @Html.DisplayNameFor(model => model.LegalInterest)
         </th>
          <th>
         @Html.DisplayNameFor(model => model.Demolition)
         </th>
         <th>
         @Html.DisplayNameFor(model => model.TotalSiteArea)
         </th>
         <th>
         @Html.DisplayNameFor(model => model.FloorArea)
         </th>
         <th>
         @Html.DisplayNameFor(model => model.FloorAreaofNewBuildings)
         </th>
          <th>
         @Html.DisplayNameFor(model => model.ProposedDevelopmentTotalFloorArea)
         </th>
         <th>
         @Html.DisplayNameFor(model => model.ArchaeologicalInterestZone)
         </th>
          <th>
         @Html.DisplayNameFor(model => model.WasteLicenceRequired)
         </th>
         <th>
         @Html.DisplayNameFor(model => model.WaterSupplySource)
         </th>
         <th>
         @Html.DisplayNameFor(model => model.ApplicationDate)
         </th>
         
         </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Apptype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.town)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LegalInterest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Demolition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSiteArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FloorArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FloorAreaofNewBuildings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProposedDevelopmentTotalFloorArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArchaeologicalInterestZone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WasteLicenceRequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WaterSupplySource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

